<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>1 Col Portfolio - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
   <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template 
    <link href="css/1-col-portfolio.css" rel="stylesheet"> -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  .bg-1 { 
      background-color: #80ffbf; /* green */
      color: #ffffff;
  }
  
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .text{color: black;
         font-style: bolder;
		 }
  </style>
  </head>

  <body class="bg-1">



    <!-- Page Content -->
    <div class="container">

      <!-- Page Heading -->
      <h1 class="my-4 text" align="center">Services
      </h1>

      <!-- Project One -->
      <div class="row bg-2">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/image/ser_pic05.jpg" alt="pic05">
          </a>
        </div>
        <div class="col-md-5">
          <h3>Wedding</h3>
		  <p>Contact no: 9600080178</p>
		  <p>Location: Bangalore</p>
		  <p>Price: &#8377; 100000</p>
		  <h2>Manager</h2>
          <address>
                Vishwa <br>
				<a href="mailto:webmaster@example.com">Vishwa@gmail.com</a>.<br> 
				9663000080
          </address>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Two -->
      <div class="row bg-2">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/image/ser_pic03.jpg" alt="pic03">
          </a>
        </div>
        <div class="col-md-5">
           <h1>Birthday</h1>
		  <p>Contact no: 7500080578</p>
		  <p>Location: Bangalore</p>
		  <p>Price: &#8377; 200000</p>
		  <h2>Manager</h2>
          <address>
                Prince <br>
				<a href="mailto:webmaster@example.com">prince.com</a>.<br> 
				9663000080
          </address>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Three -->
      <div class="row bg-2">
        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/image/ser_corporate1.jpg" alt="pic">
          </a>
        </div>
        <div class="col-md-5">
           <h1>Business Events</h1>
		  <p>Contact no: 9600080178</p>
		  <p>Location: Bangalore</p>
		  <p>Price: &#8377; 400000</p>
		  <h2>Manager</h2>
          <address>
                Vijay <br>
				<a href="mailto:vishwanath900801@gmail.com">vijay@gmail.com</a>.<br> 
				9663889324
          </address>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Project Four -->
      <div class="row bg-2">

        <div class="col-md-7">
          <a href="#">
            <img class="img-fluid rounded mb-3 mb-md-0" src="../../static/image/ser_back.jpg" alt="">
          </a>
        </div>
        <div class="col-md-5">
         <h1>Concerts</h1>
		  <p>Contact no: 7019989478</p>
		  <p>Location: Bangalore</p>
		  <p>Price: &#8377; 750000</p>
		  <h2>Manager</h2>
          <address>
                Joe <br>
				<a href="mailto:vishwanath900801@gmail.com">joe@gmail.com</a>.<br> 
				9343867600
          </address>
        </div>
      </div>
      <!-- /.row -->

      <hr>

      <!-- Pagination -->
      
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text">Copyright &copy; With-Out-A-Hitch</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript 
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script> -->

  </body>

</html>
